# VS Code extenstion files.
.vscode

# Fabric files.
server/.fabric
server/fabric.jar
server/libraries
server/logs
server/mods
server/versions
server/world*
server/usercache.json

# Mod files.
server/dynmap

# World backups.
backups
